
h1 {
    color:black;
    font-family:Helvetica, sans-serif;
    font-size:25px;
    font-weight:300;
    margin-bottom:20px;
    margin-top:0px;
    text-align:center;
}

tfoot {
    border-top: 1px solid #999;
}
table{
    width: 100%;
    font-family:Helvetica, sans-serif;
    margin-bottom: 40px;
    border-collapse: collapse;
}
table tr{
    height:7.5mm;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    padding: 10px;
}

body{
    -webkit-print-color-adjust:exact;
}



